<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Cálculo Aposentadoria</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/b6235a8ba2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="">
        
        <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 20px;
            line-height: 1.3;
        }

        .toggle {
            opacity: 0.3
        }

        .toggle:hover {
            opacity: 1;
        }

        .dados {
            position:relative;
            padding: 0.5% 10% 0.5% 3%;;
            background-color: lightgray;
            border-radius: 15px;
        }

        .dados-content {
            font-size: small;
            display: inline-block;
        }

       .close {
            position: absolute;
            opacity: 0.3;
            top: 16px;
            right: 16px;
        }

        .inputform input  {
            width: 40%;
        }

        .centered .blocoAjuda {
            display: inline-block;
            width: 100%;
            text-overflow: clip;
        }


        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="app">
            <div class="centered">
                <h1>Calculadora</h1>
                <h2>Confira a perda na sua Aposentadoria</h2>
               

                <h3>Cálculo <i class="toggle fas fa-question-circle" v-on:click="toggleDados"></i></h3>
                    <div class="dados" v-if="mostrarDados === true">
                        <div class="dados-content">
                            <h3>Ajuda</h3>
                            <p>
                                Digite o valor total de <strong>proventos</strong> de seu contracheque/holerite na caixa abaixo e clique no botão "Calcular" para descobrir a perda na sua aposentadora.
                            </p>
                        
                        <p><a href="proventos.png" target="_blank">Clique aqui</a> aqui para saber como encontrar o total de proventos em seu contracheque/holerite.</p>
                        </div>
                        <i class="close toggle fas fa-times" v-on:click="toggleDados"></i>
                    </div>

                    
                <p>Valor total de proventos (em reais): </p>
                <div class="inputform">
                    R$ <input v-model="proventos" placeholder="5600,23"><button v-on:click="calcular">Calcular</button>
                </div>

                <h3>Resultado</h4>
                <div v-if="mostrar === 'sim'" class="calculo">
                    <h4>Você deixará de receber <br><br><span style="color: red; font-size: larger;">R$ {{ resultado }} </span> por mês</h4>
                </div>
                <div v-else-if="mostrar === 'erro'">
                    <h4 style="color: red;">Erro! Verifique os números.</h4>
                </div>
                <div v-else-if="mostrar === ''">
                </div>

                <div class="blocoAjuda">
                    <h3>Ajuda   <i class="toggle fas fa-question-circle" v-on:click="toggleAjuda"></i></h3>
                    <div v-if="mostrarAjuda === true">
                        Os cálculos são feitos com os seguintes parâmetros:
                        <ul>
                            <li>Salário mínimo: R$ 1100,00</li>
                            <li>Desconto previdenciário: 14%</li>
                        </ul>  
                    </div>
                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
        <script>
            function togglePopup() {
                var popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
            }
            var app = new Vue({
                el: '#app',
                data: {
                    proventos: '',
                    resultado: 0,
                    mostrar: '',
                    mostrarDados: false,
                    mostrarAjuda: false
                },
                methods: {
                    toggleDados: function() {
                        this.mostrarDados === true ? this.mostrarDados = false : this.mostrarDados = true;
                    },
                    toggleAjuda: function() {
                        this.mostrarAjuda === true ? this.mostrarAjuda = false : this.mostrarAjuda = true;
                    },
                    calcular: function() {
                        if (this.proventos === '') {
                            this.mostrar = 'erro'
                        } else {
                            this.proventos = this.proventos.split('.').join("");
                            var int = this.proventos.split(',')[0]
                            var dec = this.proventos.split(',')[1]
                            if (dec == undefined) dec = 0

                            if (int - this.proventos < 0) {
                                this.mostrar = 'erro'
                            } else {
                                var conta = 0.14 * ((int - 1100) + (dec/100))
                                if (Number.isNaN(conta)) {
                                    this.mostrar = 'erro'
                                } else {
                                    this.resultado = conta.toFixed(2)
                                    this.mostrar = 'sim'
                                }
                            }
                        }

                    }
                },
            })

        
        
        </script>
    </body>
</html>
